
body{
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}
.container{
    display: flex;
    
}
.img{
    width: 75px;
    height: 500px;
    margin:15px;
    cursor: pointer;
    border-radius: 50px;
    transition: width 1s;
}
h3{
    text-align: left;
    color:#fff;
    padding:10px;

}
.active{
    width:700px;
    transition: width 1s;
    
}